.container
  %div
    %img{:src => "/aegir-small.png"}
  %div
    %h1
      %a{:href=>"/"}
        &AElig;gir - a brew blogging tool

  %div
    %h2 
      = "#{@user.name} has been brogging since #{@user.created_at.strftime("%Y-%m-%d")}"
    
  %div
    - @batches.each do |batch|
      %div
        %a{:href=>"/user/#{@user.name}/#{batch}"}
          = batch

  %div
    &nbsp;

  %div
    Find me on <a href="http://github.com/terryg/aegir">github</a>.
